@import url(https://fonts.googleapis.com/css?family=Candal);


body{
   margin: 0 auto;
   background-image: url("/img/purpclouds.jpg");
}
.navDir{
   height: 100%;
   width: 100%;
   padding: 3%;
   background-image: url('/img/navFlowers.jpg');
   text-align: center;
   margin: 0 auto;
   /*position: fixed;*/
}
.navButton{
   padding: 2%;
   display: inline-block;
   margin: auto;
   cursor: pointer;
   background: rgb(58, 60, 58);
   color: rgb(67, 200, 236);
   border-radius: 49%;
   text-align: center;
   margin-right: 5%;
   /*display: flex;
   align-content: center;
   justify-content: center;
   flex-direction: row;*/
}
.home{
   text-align: center;
   color: rgb(0, 0, 0);
   font-family: Candal;
}
.home h1, h2{
   color: rgb(84, 84, 84);
   text-shadow: 2px 2px rgb(246, 239, 243);
}

.memorial{
   /*height: 100vh;*/
   margin: 0 auto;
   text-decoration: none;
   color: rgb(255, 255, 255);
   text-shadow: 2px 2px rgb(102, 101, 102);
}
.memInput{
   text-align: center;
   margin: 0 auto;
}
.input{
   width: 70%;
   padding 12px 20px;
   margin 8px 0;
   box-sizing: border-box;
   border: 2px dotted purple;
   border-radius: 5px;
}
.footer{
   padding: 2%;
   background: rgb(0,0,0);
   text-align: center;
   width: 100%;
}
