@import url(https://fonts.googleapis.com/css?family=Candal);


body{
   margin: 0 auto;
}
.navDir{
   height: 20%;
   padding: 3%;
   background-image: url('/img/navFlowers.jpg');
   text-align: center;
   margin: 0 auto;
}
.navButton{
   padding: 2%;
   display: inline-block;
   margin: auto;
   cursor: pointer;
   background: rgb(58, 60, 58);
   color: rgb(67, 200, 236);
   border-radius: 49%;
   text-align: center;
}
.home{
   text-align: center;
   color: rgb(67, 200, 236);
   font-family: Candal;
   height: 500px;
background-image: url("/img/clouds.png");   margin: 0 auto;
}
.home h1, h3{
   text-shadow: 4px 3px rgb(236, 42, 145);
}
.footer{
   padding: 2%;
   background: rgb(0,0,0);
   text-align: center;
}
