<div class="memorial">
   <!-- input boxes for guest book  -->
      Sign the virtual guest book below
      <br>
         Name:
      <br>
         <textarea placeholder="enter your name here...." ng-model="newMessage.username"></textarea>
      <br>
         Comment or Memory:
      <br>
         <textarea rows=15 placeholder="enter a memory here....." ng-model="newMessage.text"></textarea>
      <br>
         <button type="button" name="button" ng-click="addMessage(newMessage)">Submit</button>
      <br>


<!-- formatting and output for guest book -->
            <ul>
               <li ng-repeat="message in messages">
                  {{message.username}}:
                  <br>
                  {{message.text}}
                  <br>
                  {{today}}
               </li>
            </ul>
      </div>
</div>
